---
---
<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    position: relative;
    background-color: transparent;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0.6;
    cursor: pointer;
  }

  .btn::after {
    content: '';
    border-bottom: 5px double #ffe600;
    width: 0;
    height: 100%;
    position: absolute;
    margin-top: -5px;
    top: 0;
    left: 5px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }

  .btn .icon {
    transform: translateX(0%);
    transition: .2s linear;
    animation: attention 1.2s linear infinite;
  }

  .btn:hover::after {
    visibility: visible;
    opacity: 0.7;
    width: 90%;
  }

  .btn:hover {
    letter-spacing: 2px;
    opacity: 1;
  }

  .btn:hover > .icon {
    transform: translateX(30%);
    animation: none;
  }

  @keyframes attention {
    0% {
      transform: translateX(0%);
    }

    50% {
      transform: translateX(30%);
    }
  }
</style>

<div class="container">
  <button class="btn" onclick="window.location.href='/services'">
    <i class='bx bx-plus icon'></i>
    Info
  </button>
</div>
