
.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 56px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: black; 
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff; 
    box-shadow: 0 0 0 6px #ffe600; 
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #ffe600; 
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #ffe600; 
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text-button {
    position: relative;
    z-index: 1;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: black; 
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text-button {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: black; 
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #ffe600; 
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}
