---
import ContactMain from "../components/ContactMain.astro";
import NavBar from "../components/NavBar.astro";
import Pagination from "../components/Pagination.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tricode - Contacto">
    <NavBar />
    <div class="container">
        <ContactMain />
        <Pagination />
    </div>
</Layout>

<style>
    .container {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #ffffff;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    }
</style>