---
import ContactMain from "../components/ContactMain.astro";
import Navbar from "../components/NavBar.astro";
import Pagination from "../components/Pagination.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tricode - Contacto">
  <div class="container1 m-auto">
    <Navbar />
    <ContactMain />
    <Pagination />
  </div>
</Layout>

<style>
  .container1 {
    background-image: radial-gradient(
      rgba(12, 12, 12, 0.171) 2px,
      transparent 0
    );
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
</style>
