---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Main from "../components/Main.astro";
import Canva from "../components/ui/Canva.astro";
import Cards from "../components/ui/Cards.astro";
import CanvaFlip from "../components/ui/CanvaFlip.astro";
import TeamSection from "../components/TeamSection.astro";
import StatsSection from "../components/StatsSection.astro";
---

<Layout title="Tricode - Home">
  <NavBar />
  <Main />
  <StatsSection />
  <div class="felx flex-col p-0 m-0">
    <Canva />
    <main class="h-fit bg-yellow-400">
      <Cards />
    </main>
    <CanvaFlip />
  </div>
  <TeamSection />
</Layout>
