---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Main from "../components/Main.astro"
---

<Layout title="TriCode Home">
    <div>
        <a class="relative lg:absolute left-2 top-2" href="/"><img src="./tricode-logo-2.png" alt="Logo TriCode"></a>
        <Nav />
    </div>
    <Main></Main>
</Layout>


