---
import SocialButtons from "./ui/SocialButtons.astro";
---

<div class="w-full pt-20 bg-[#202127] text-white footer">
  <div class="container mx-auto px-4 md:px-6 lg:px-8">
    <div class="text-center md:text-left">
      <h1 class="text-4xl md:text-6xl font-bold mb-4">
        Tu crecimiento es nuestra misión.
      </h1>
      <p class="text-gray-400 mb-8">
        Nos dedicamos a hacer realidad tus objetivos. Con soluciones
        personalizadas y un enfoque comprometido, trabajamos para que tu negocio
        no solo crezca, sino que prospere.
      </p>
      <a
        href="https://wa.me/5493865415222"
        class="cta inline-block bg-yellow-400 text-black py-2 px-4 rounded transform skew-x-[-15deg] hover:opacity-80 transition-opacity"
      >
        +54 9 3865 41-5222
      </a>
    </div>

    <hr class="border-gray-600 my-12" />

    <div class="flex flex-col md:flex-row justify-between items-center mb-12">
      <a
        href="/"
        class="logo-navbar text-3xl mb-4 md:mb-0 hover:scale-110 transition-transform transform"
      >
        TRICODE
      </a>
      <div class="flex flex-col md:flex-row items-center gap-4 md:gap-8">
        <a
          href="/about"
          class="text-gray-600 hover:text-white uppercase hidden md:block"
        >
          About
        </a>
        <a
          href="/services"
          class="text-gray-600 hover:text-white uppercase hidden md:block"
        >
          Services
        </a>
        <a
          href="/contact"
          class="text-gray-600 hover:text-white uppercase hidden md:block"
        >
          Contact
        </a>
        <div class="flex space-x-4 md:space-x-8">
          <SocialButtons />
        </div>
      </div>
    </div>

    <div class="text-center">
      <p class="text-gray-500 mb-2">
        Dev.tricode@gmail.com
      </p>
      <p class="text-gray-600">
        Copyright © 2024 <b>Tricode.</b>
      </p>
    </div>
  </div>

</div>

  <style>
    .footer {
  padding: 1rem 0;
  background-color: #202127;
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 2rem 0;
  }
}

    .logo-navbar {
      font-family: "Eras";
    }
    .cta {
      transform: skewX(-15deg);
      transition: opacity 0.3s ease;
    }
  </style>