---
import Button1 from "./ui/button/Button1.astro";
import Button3 from "./ui/button/Button3.astro";
import InfiniteScroll from "./ui/InfiniteScroll.astro";
---

<section class="pt-24">
  <div class="px-12 mx-auto max-w-7xl">
    <div class="w-full mx-auto md:w-11/12 xl:w-9/12 md:text-center">
      <h1
        class="mb-8 text-4xl font-extrabold leading-none tracking-normal text-gray-900 md:text-6xl md:tracking-tight text-center"
      >
        <span>Empieza a</span>
        <span
          class="block w-full py-2 text-transparent bg-clip-text leading-12 bg-gradient-to-r from-[#ffe600] to-yellow-400 lg:inline"
          >Transformar</span
        >
        <span>tu presencia en linea</span>
      </h1>
      <p
        class="px-0 mb-8 text-lg text-gray-600 md:text-xl lg:px-24 text-center"
      >
        Potencia tu negocio con nuestras soluciones de desarrollo web
        personalizadas.
      </p>
      <div class="m-auto">
        <InfiniteScroll />
      </div>
      <div
        class="mb-4 flex flex-col md:flex-row md:gap-12 gap-4 justify-center space-x-0 md:space-x-2 md:mb-8 items-center"
      >
        <Button1 />
        <Button3 />
      </div>
    </div>
  </div>
</section>
