---
import React from 'react';
import TextAnimate from './ui/TextAnimate/TextAnimate.jsx';
import ButtonBackgroundShine from "./ui/button/Button.jsx"
---


  <main class="mx-32 w-fit mt-32 flex flex-row gap-80 ">
    <div class="flex flex-col gap-4">
      <h1 class="text-5xl font-normal text-gray-800">Intenta Codificarlo <b class="text-orange-400">__</b></h1>
      <h1 class="text-6xl font-semibold">Trabaja con Nosotros</h1>
      <TextAnimate client:load />
      <div class="mt-10">
          <ButtonBackgroundShine />
      </div>
    </div>
    <div class="">
        <img class="w-96" src="/Tricode-logo.webp" alt="Logo TriCode">
    </div>
  </main>
</body>
