---

---

<main class="flex flex-col-reverse items-center gap-20 md:flex-row lg:flex-row xl:flex-row">
    <div class="mx-32 flex flex-col gap-4 my-24">
            <h2 class="text-4xl text-gray-700">Work Whith us <b class="text-5xl text-yellow-400">__</b></h2>
            <h2 class="text-6xl">Let's <b class="text-6xl text-yellow-400">Work flow</b></h2>
            <p class="text-2xl text-gray-700">UI/UX and Ecommerce development, Dashboard <br> Landing Pages & Mobile Apps</p>
        <div class="mt-16 items-center text-white bg-black rounded-full w-fit px-3 py-1 flex gap-3 cursor-pointer hover:scale-105 transition-all" >
            <h1 class="text-3xl">Contact Us</h1>
                <div class="w-fit h-fit bg-yellow-400 rounded-full items-center text-center"><i class='bx bx-right-arrow-alt text-4xl w-12 h-12 text-black p-1'></i></div>
        </div>
    </div>
    <section>
        <img class="max-w-xl" src="/foto-main-2.png" alt="persona Codificando tricode">
    </section>
</main>

