---

---
<div class="relative flex items-center p-4">
    <nav class="w-full">
        <ul class="flex justify-center gap-10 font-light">
            <a class="border-b-yellow-400 border-b-4" href="/"><li>Home</li></a>
            <a href="/"><li>Services</li></a>
            <a href="/"><li>About us</li></a>
            <a href="/"><li>Portafolio</li></a>
        </ul>
    </nav>
</div>



<style>
    a :hover{
    --tw-scale-x: 1.2;
    --tw-scale-y: 1.2;
    transition: 150ms ease-in-out;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
</style>

