---

---

<header class="bg-white shadow-sm h-18 hidden md:flex">
    <a href="" class=" flex-shrink-0 flex items-center justify-center px-4 lg:px-6 xl:px-8">
      <img class="max-w-40" src="/tricode-logo-2.png" alt="TriCode Logo" />
    </a>
    <nav class="header-links contents font-medium text-gray-600 text-base lg:text-md">
      <ul class="flex items-center ml-4 xl:ml-8 mr-auto">
        <li class="p-3 xl:p-6 active">
          <a href="">
            <span>Home</span>
          </a>
        </li>
        <li class="p-3 xl:p-6">
          <a href="">
            <span>Services</span>
          </a>
        </li>
        <li class="p-3 xl:p-6">
          <a href="">
            <span>About</span>
          </a>
        </li>
        <li class="p-3 xl:p-6">
          <a href="">
            <span>Projects</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>


  <style>
    .header-links li span {
      position: relative;
      z-index: 0;
    }
  
    .header-links li span::before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 2px;
      left: -4px;
      right: -4px;
      display: block;
      height: 6px;
    }
  
    .header-links li.active span::before {
      background-color: #fcae04;
    }
  
    .header-links li:not(.active):hover span::before {
      background-color: #cccccc94;
    }
  </style>