---
import ServiciosCards from "./ServiciosCards.astro";
---

<section class="px-4 md:px-6 lg:px-8 py-12 lg:py-16 m-auto flex flex-col">
  <div class="text-center space-y-2 mb-8">
    <p
      class="mb-8 text-4xl font-extrabold leading-none tracking-normal text-gray-900 md:text-6xl md:tracking-tight text-center"
    >
      Que <span
        class="bg-gradient-to-r from-[#ffe600] to-yellow-400 bg-clip-text text-transparent"
        >Ofrecemos</span
      >
    </p>
    <p class="max-w-[700px] mx-auto text-muted-foreground md:text-xl">
      Ofrecemos una amplia gama de servicios para satisfacer todas tus
      necesidades de desarrollo de software.
    </p>
  </div>

  <div
    class="grid md:grid-cols-2 lg:grid-cols-3 items-center justify-between gap-6 mx-auto"
  >
    <div
      class="service-card rounded-xl w-[300px] shadow-xl cursor-pointer snap-start shrink-0 py-8 px-6 bg-white flex flex-col gap-3 transition-all duration-300 group hover:bg-[#202127]"
    >
      <svg
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke-width="2"
      stroke="#000000"
      fill="none"
      viewBox="0 0 24 24"
      class="text-5xl h-12 w-12 stroke-gray-800 group-hover:stroke-yellow-400"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
      <line y2="21" x2="16" y1="21" x1="8"></line>
      <line y2="21" x2="12" y1="17" x1="12"></line>
      </svg>

      <p class="font-bold text-2xl group-hover:text-white text-black/80">
        WEBSITE SEO
      </p>
      <p class="text-gray-400 text-sm">
        Mejoramos la visibilidad de tu sitio web en los motores de búsqueda
        mediante estrategias de optimización SEO, incrementando el tráfico
        orgánico y atrayendo más clientes potenciales.
      </p>
      <p
        style="-webkit-text-stroke: 2px rgb(250 204 21);
                                  -webkit-text-fill-color: transparent;"
        class="text-5xl font-bold self-end"
      >
        01
      </p>
    </div>

    <div
      class="service-card rounded-xl w-[300px] shadow-xl cursor-pointer snap-start shrink-0 py-8 px-6 bg-white flex flex-col items-start gap-3 transition-all duration-300 group hover:bg-[#202127]"
    >
      <svg
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2"
        stroke="#000000"
        fill="none"
        viewBox="0 0 24 24"
        class="text-5xl h-12 w-12 stroke-gray-800 group-hover:stroke-yellow-400"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
        <line y2="21" x2="16" y1="21" x1="8"></line>
        <line y2="21" x2="12" y1="17" x1="12"></line>
      </svg>

      <p class="font-bold text-2xl group-hover:text-white text-black/80">
        HOSTING + DOMINIO
      </p>
      <p class="text-gray-400 text-sm">
        Ofrecemos soluciones de hosting confiables y registro de dominios para
        asegurar que tu sitio web esté siempre disponible y funcionando de
        manera óptima.
      </p>
      <p
        style="-webkit-text-stroke: 2px rgb(250 204 21);
                                  -webkit-text-fill-color: transparent;"
        class="text-5xl font-bold self-end"
      >
        02
      </p>
    </div>

    <div
      class="service-card rounded-xl w-[300px] shadow-xl cursor-pointer snap-start shrink-0 py-8 px-6 bg-white flex flex-col items-start gap-3 transition-all duration-300 group hover:bg-[#202127]"
    >
      <svg
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2"
        stroke="#000000"
        fill="none"
        viewBox="0 0 24 24"
        class="text-5xl h-12 w-12 stroke-gray-800 group-hover:stroke-yellow-400"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
        <line y2="21" x2="16" y1="21" x1="8"></line>
        <line y2="21" x2="12" y1="17" x1="12"></line>
      </svg>

      <p class="font-bold text-2xl group-hover:text-white text-black/80">
        QA | QC
      </p>
      <p class="text-gray-400 text-sm">
        Realizamos pruebas de calidad (QA) y control de calidad (QC) para
        asegurar que tu software cumpla con los estándares más altos de
        funcionalidad y rendimiento.
      </p>
      <p
        style="-webkit-text-stroke: 2px rgb(250 204 21);
                                  -webkit-text-fill-color: transparent;"
        class="text-5xl font-bold self-end"
      >
        03
      </p>
    </div>
    <div
      class="service-card rounded-xl w-[300px] shadow-xl cursor-pointer snap-start shrink-0 py-8 px-6 bg-white flex flex-col items-start gap-3 transition-all duration-300 group hover:bg-[#202127]"
    >
      <svg
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2"
        stroke="#000000"
        fill="none"
        viewBox="0 0 24 24"
        class="text-5xl h-12 w-12 stroke-gray-800 group-hover:stroke-yellow-400"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
        <line y2="21" x2="16" y1="21" x1="8"></line>
        <line y2="21" x2="12" y1="17" x1="12"></line>
      </svg>

      <p class="font-bold text-2xl group-hover:text-white text-black/80">
        MANTENIMIENTO
      </p>
      <p class="text-gray-400 text-sm">
        Los primeros 6 meses de mantenimiento gratis! Nos encargamos de mantener
        tus aplicaciones móviles y webs actualizadas, seguras y funcionando sin
        problemas.
      </p>
      <p
        style="-webkit-text-stroke: 2px rgb(250 204 21);
                                  -webkit-text-fill-color: transparent;"
        class="text-5xl font-bold self-end"
      >
        04
      </p>
    </div>
    <div
      class="service-card rounded-xl w-[300px] shadow-xl cursor-pointer snap-start shrink-0 py-8 px-6 bg-white flex flex-col items-start gap-3 transition-all duration-300 group hover:bg-[#202127]"
    >
      <svg
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2"
        stroke="#000000"
        fill="none"
        viewBox="0 0 24 24"
        class="text-5xl h-12 w-12 stroke-gray-800 group-hover:stroke-yellow-400"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect ry="2" rx="2" height="14" width="20" y="3" x="2"></rect>
        <line y2="21" x2="16" y1="21" x1="8"></line>
        <line y2="21" x2="12" y1="17" x1="12"></line>
      </svg>

      <p class="font-bold text-2xl group-hover:text-white text-black/80">
        SOPORTE 24/7
      </p>
      <p class="text-gray-400 text-sm">
        Brindamos soporte técnico continuo las 24 horas del día, los 7 días de
        la semana, para resolver cualquier problema o inquietud que puedas tener
        en cualquier momento.
      </p>
      <p
        style="-webkit-text-stroke: 2px rgb(250 204 21);
                                  -webkit-text-fill-color: transparent;"
        class="text-5xl font-bold self-end"
      >
        05
      </p>
    </div>
  </div>
</section>
