<section
  class="flex flex-col py-10 px-4 md:py-20"
  aria-label="Servicios de TriCode"
>
  <div class="text-center space-y-4 md:space-y-6">
    <h1
      class="text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-6xl"
    >
      Nuestros <span
        class="bg-gradient-to-r from-amber-300 to-yellow-300 bg-clip-text text-transparent"
        >Servicios</span
      >
    </h1>
    <p class="max-w-3xl mx-auto text-muted-foreground md:text-xl">
      Ofrecemos una amplia gama de servicios para satisfacer todas tus
      necesidades de desarrollo de software.
    </p>
  </div>
  <div class="max-w-7xl mx-auto mt-10">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <!-- Service Card 1 -->
      <article
        class="service-card relative overflow-hidden rounded-lg shadow-lg transition-transform transform hover:scale-105"
        aria-label="E-commerce + Dashboard"
      >
        <img
          src="/img/ui/thewest.webp"
          alt="E-commerce y Dashboard"
          class="w-full h-48 object-cover transition-transform duration-300 ease-in-out hover:scale-110"
        />
        <div
          class="overlay absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 transition-opacity duration-300 ease-in-out"
        >
        </div>
        <div
          class="content absolute bottom-0 p-4 text-white opacity-0 transition-opacity duration-300 ease-in-out"
        >
          <h2 class="text-lg font-semibold">E-commerce + Dashboard</h2>
          <p class="text-sm">
            Desarrollo completo de plataformas de e-commerce con paneles de
            control intuitivos y personalizados.
          </p>
        </div>
        <a
          href="#modal1"
          class="absolute top-4 right-4 text-black hover:text-yellow-600 bg-yellow-500 p-2 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6"
          >
            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
          <span class="sr-only">E-commerce + Dashboard</span>
        </a>
      </article>

      <!-- Service Card 2 -->
      <article
        class="service-card relative overflow-hidden rounded-lg shadow-lg transition-transform transform hover:scale-105"
        aria-label="Landing Page"
      >
        <img
          src="/img/ui/herogym.webp"
          alt="Landing Page"
          class="w-full h-48 object-cover transition-transform duration-300 ease-in-out hover:scale-110"
        />
        <div
          class="overlay absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 transition-opacity duration-300 ease-in-out"
        >
        </div>
        <div
          class="content absolute bottom-0 p-4 text-white opacity-0 transition-opacity duration-300 ease-in-out"
        >
          <h2 class="text-lg font-semibold">Landing Page</h2>
          <p class="text-sm">
            Diseño y desarrollo de páginas de aterrizaje efectivas que
            convierten visitantes en clientes.
          </p>
        </div>
        <a
          href="#modal2"
          class="absolute top-4 right-4 text-black hover:text-yellow-600 bg-yellow-500 p-2 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6"
          >
            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
          <span class="sr-only">Landing Page</span>
        </a>
      </article>

      <!-- Service Card 3 -->
      <article
        class="service-card relative overflow-hidden rounded-lg shadow-lg transition-transform transform hover:scale-105"
        aria-label="App Mobile"
      >
        <img
          src="https://images.vexels.com/media/users/3/210770/raw/251338a9d465357850c03418dafd39f4-diseno-de-maqueta-de-aplicacion-movil.jpg"
          alt="Desarrollo de Aplicaciones Móviles"
          class="w-full h-48 object-cover transition-transform duration-300 ease-in-out hover:scale-110"
        />
        <div
          class="overlay absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 transition-opacity duration-300 ease-in-out"
        >
        </div>
        <div
          class="content absolute bottom-0 p-4 text-white opacity-0 transition-opacity duration-300 ease-in-out"
        >
          <h2 class="text-lg font-semibold">App Mobile</h2>
          <p class="text-sm">
            Desarrollo de aplicaciones móviles intuitivas y funcionales para iOS
            y Android.
          </p>
        </div>
        <a
          href="#modal3"
          class="absolute top-4 right-4 text-black hover:text-yellow-600 bg-yellow-500 p-2 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6"
          >
            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
          <span class="sr-only">App Mobile</span>
        </a>
      </article>

      <!-- Service Card 4 -->
      <article
        class="service-card relative overflow-hidden rounded-lg shadow-lg transition-transform transform hover:scale-105"
        aria-label="Portafolios"
      >
        <img
          src="https://cdn.dribbble.com/userupload/4239355/file/original-1f2da5076926095bf4876131f7d4c24c.jpg?resize=400x0"
          alt="Diseño de Portafolios"
          class="w-full h-48 object-cover transition-transform duration-300 ease-in-out hover:scale-110"
        />
        <div
          class="overlay absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 transition-opacity duration-300 ease-in-out"
        >
        </div>
        <div
          class="content absolute bottom-0 p-4 text-white opacity-0 transition-opacity duration-300 ease-in-out"
        >
          <h2 class="text-lg font-semibold">Portafolios</h2>
          <p class="text-sm">
            Creación de portafolios personalizados que muestran tus habilidades
            y proyectos de manera profesional.
          </p>
        </div>
        <a
          href="#modal4"
          class="absolute top-4 right-4 text-black hover:text-yellow-600 bg-yellow-500 p-2 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6"
          >
            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
          <span class="sr-only">Portafolios</span>
        </a>
      </article>
    </div>

    <!-- Modal 1 -->
    <div
      id="modal1"
      class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden"
    >
      <div
        class="modal-content bg-white rounded-lg p-6 max-w-md w-full relative"
      >
        <a
          href="#"
          class="close-btn absolute top-4 right-4 text-gray-600 hover:text-black"
          >&times;</a
        >
        <h2 class="text-2xl font-semibold mb-4">E-commerce + Dashboard</h2>
        <p class="mb-4">
          Desarrollo completo de plataformas de e-commerce con paneles de
          control intuitivos y personalizados. Integramos funcionalidades
          avanzadas para la gestión de inventarios, procesamiento de pagos y
          análisis de datos.
        </p>
        <button
          class="px-4 py-2 bg-yellow-500 text-white rounded-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2"
          >Lo quiero</button
        >
      </div>
    </div>

    <!-- Modal 2 -->
    <div
      id="modal2"
      class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden"
    >
      <div
        class="modal-content bg-white rounded-lg p-6 max-w-md w-full relative"
      >
        <a
          href="#"
          class="close-btn absolute top-4 right-4 text-gray-600 hover:text-black"
          >&times;</a
        >
        <h2 class="text-2xl font-semibold mb-4">Landing Page</h2>
        <p class="mb-4">
          Diseño y desarrollo de páginas de aterrizaje efectivas que convierten
          visitantes en clientes. Optimizamos cada elemento para maximizar las
          tasas de conversión y proporcionar una excelente experiencia de
          usuario.
        </p>
        <button
          class="px-4 py-2 bg-yellow-500 text-white rounded-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2"
          >Lo quiero</button
        >
      </div>
    </div>

    <!-- Modal 3 -->
    <div
      id="modal3"
      class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden"
    >
      <div
        class="modal-content bg-white rounded-lg p-6 max-w-md w-full relative"
      >
        <a
          href="#"
          class="close-btn absolute top-4 right-4 text-gray-600 hover:text-black"
          >&times;</a
        >
        <h2 class="text-2xl font-semibold mb-4">App Mobile</h2>
        <p class="mb-4">
          Desarrollo de aplicaciones móviles intuitivas y funcionales para iOS y
          Android. Nuestras aplicaciones están diseñadas para ofrecer una
          experiencia de usuario fluida y aprovechar al máximo las capacidades
          de los dispositivos móviles.
        </p>
        <button
          class="px-4 py-2 bg-yellow-500 text-white rounded-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2"
          >Lo quiero</button
        >
      </div>
    </div>

    <!-- Modal 4 -->
    <div
      id="modal4"
      class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden"
    >
      <div
        class="modal-content bg-white rounded-lg p-6 max-w-md w-full relative"
      >
        <a
          href="#"
          class="close-btn absolute top-4 right-4 text-gray-600 hover:text-black"
          >&times;</a
        >
        <h2 class="text-2xl font-semibold mb-4">Portafolio</h2>
        <p class="mb-4">
          Creación de portafolios personalizados que muestran tus habilidades y
          proyectos de manera profesional. Diseñamos portafolios visualmente
          atractivos que capturan la atención y destacan tus logros y
          capacidades.
        </p>
        <button
          class="px-4 py-2 bg-yellow-500 text-white rounded-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2"
          >Lo quiero</button
        >
      </div>
    </div>
  </div>
</section>

<style>
  .service-card {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .service-card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .service-card:hover img {
    transform: scale(1.05);
  }

  .modal {
    display: none;
  }

  .modal:target {
    display: flex;
  }

  .modal .modal-content {
    width: 90%;
  }

  .close-btn {
    font-size: 1.5rem;
  }
</style>
