---
import Footer from "../components/Footer.astro";
import WhasappButton from "../components/ui/WhasappButton.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="TriCode - Agencia de desarrollo de software en Concepción, Tucumán, Argentina. Ofrecemos soluciones tecnológicas innovadoras de todo tipo: empresarial, de negocio o personal." />
    <meta name="keywords" content="TriCode, desarrollo de software, Concepción, Tucumán, soluciones tecnológicas, innovación" />
    <meta property="og:title" content="TriCode - Desarrollo de Software en Concepción, Tucumán" />
    <meta property="og:description" content="TriCode ofrece soluciones tecnológicas innovadoras de todo tipo. Contáctanos para más información." />
    <meta property="og:image" content="/logotricode.png" />
    <meta property="og:url" content="https://tricode.vercel.app/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="TriCode - Desarrollo de Software en Concepción, Tucumán, Argentina" />
    <meta name="twitter:description" content="TriCode ofrece soluciones tecnológicas innovadoras de todo tipo. Contáctanos para más información." />
    <meta name="twitter:image" content="/logotricode.png" />
    <title>{title} - TriCode</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&family=Josefin+Sans:wght@100..700&display=swap" rel="stylesheet" />
  </head>
  <body class="flex flex-col min-h-screen">
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
    <WhasappButton />
  </body>
</html>

<style is:global>
  html,
  body,
  :root {
    font-family: "Archivo", sans-serif;
    background-color: #fffffa;
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  }
</style>
