---

---

<section
  class="relative flex flex-col min-h-screen py-20 gap-20 items-center justify-center"
>
  <h2
    class="text-4xl font-extrabold leading-none tracking-normal text-black
md:tracking-tight text-center"
  >
    Proyectos
  </h2>

  <div class="flex justify-center items-center">
    <div
      class="px-4 grid md:grid-cols-2 lg:grid-cols-3 gap-5 space-y-4 md:space-y-0"
    >
      <a href="https://herogym-tricode.vercel.app/">
        <div
          class="group max-w-sm bg-[#202127] px-3 pt-4 pb-2 rounded-xl shadow-lg transform hover:scale-105 transition duration-500 flex flex-col items-center relative"
        >
          <h3
            class="mb-3 text-xl font-extrabold text-white text-center group-hover:blur-sm delay-200"
          >
            HeroGym
          </h3>
          <div class="relative group-hover:blur-sm delay-200">
            <img
              class="w-full rounded-xl"
              src="/img/ui/herogym.webp"
              alt="heroGym"
            />
          </div>
          <button
            class="delay-200 ease-in-out hover:scale-110 group-hover:w-1/2 blur-none group-hover:-translate-y-36 mt-4 text-xl w-1/3 text-black bg-yellow-400 shadow-2xl py-2 rounded-xl font-bold transition-all transform"
          >
            Visitar
          </button>
        </div>
      </a>
      <a href="https://tricode-example.vercel.app/">
        <div
          class="group max-w-sm bg-[#202127] px-3 pt-4 pb-2 rounded-xl shadow-lg transform hover:scale-105 transition duration-500 flex flex-col items-center relative"
        >
          <h3
            class="mb-3 text-xl font-extrabold text-white text-center group-hover:blur-sm delay-200"
          >
            The West Clothes
          </h3>
          <div class="relative group-hover:blur-sm delay-200">
            <img
              class="w-full rounded-xl"
              src="/img/ui/thewest.webp"
              alt="heroGym"
            />
          </div>
          <button
            class="delay-200 ease-in-out hover:scale-110 group-hover:w-1/2 blur-none group-hover:-translate-y-36 mt-4 text-xl w-1/3 text-black bg-yellow-400 shadow-2xl py-2 rounded-xl font-bold transition-all transform"
          >
            Visitar
          </button>
        </div>
      </a>
      <a href="/404">
        <div
          class="group max-w-sm bg-[#202127] px-3 pt-4 pb-2 rounded-xl shadow-lg transform hover:scale-105 transition duration-500 flex flex-col items-center relative"
        >
          <h3
            class="mb-3 text-xl font-extrabold text-white text-center group-hover:blur-sm delay-200"
          >
            Dashboard Tricode
          </h3>
          <div class="relative group-hover:blur-sm delay-200">
            <img
              class="w-full rounded-xl"
              src="/img/ui/admindashT.webp"
              alt="heroGym"
            />
          </div>
          <button
            class="delay-200 ease-in-out hover:scale-110 group-hover:w-1/2 blur-none group-hover:-translate-y-36 mt-4 text-xl w-1/3 text-black bg-yellow-400 shadow-2xl py-2 rounded-xl font-bold transition-all transform"
          >
            Visitar
          </button>
        </div>
      </a>
    </div>
  </div>
</section>

<style>
  @keyframes show {
    from {
      opacity: 1;
      scale: 75%;
    }

    to {
      opacity: 1;
      scale: 100%;
    }
  }
  a {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 30% cover 20%;
    animation-fill-mode: both;
  }
</style>
